body {
  background-color: antiquewhite;
  margin: 20px;
  padding: 30px;
}
h1 {
  background-color: cadetblue;
  color: antiquewhite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  font-weight: 900 bold;
  padding: 30px;
  border-radius: 20px;
}
h2 {
    font-size: 2em;
    font-weight: 900;
    color: peru;
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-style: italic;
  color: red;
  background-color: whitesmoke;
  padding: 10px 5px;
  border: 2px dashed;
  text-align: center;
}
p {
  font-size: 1.35em;
}
.mension {
  font-size: 0.9em;
  text-align: right;
}
section {
    margin: 10px 0px;
    border: 3px mediumturquoise solid;
    border-radius: 5px;
    padding: 10px 20px;

}
.titDeLista {  
  background-color: teal;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 1200px;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 10px;
}
.lista {
  border: 2px mediumturquoise solid;
  border-radius: 5px;

}
ol , ul {
  
  
  margin: 0 auto;
  width: 90%;
  padding: 1.2em;
  color: red;
  font-size: 1.2em;
  font-style: bold;
  padding: 3px;
}
li {
  padding: 3px;
}
strong:hover, strong:active {
  color: red;
  font-style: oblique;
}


